<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Merit list - Innovative THings</title>
    <link rel="stylesheet" href="/assestad/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Advent+Pro&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;display=swap"
    />
    <link rel="stylesheet" href="/assestad/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/assestad/css/Black-Navbar.css" />
    <link rel="stylesheet" href="/assestad/css/FORM.css" />
    <link rel="stylesheet" href="/assestad/css/Multi-step-form.css" />
    <link rel="stylesheet" href="/assestad/css/Pretty-Login-Form-.css" />
    <script src="/assets/js/clock.js"></script>
    <script src="/assets/js/SearchRecord.js"></script>
  </head>

  <body id="page-top">
    <div id="wrapper">
      <div th:replace="fragmen1.html ::adminfragment1"></div>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <div th:replace="fragment2.html ::adminfragfragment2"></div>
          <div class="container-fluid">
            <div
              class="d-sm-flex justify-content-between align-items-center mb-4"
            >
              <h3 class="text-dark mb-4">
                K.E.S.Yashwant Raghoji Parab Viddhyalay Vasoli
              </h3>
            </div>
            <div class="container-fluid">
              <div class="card shadow">
                <div class="card-header py-3">
                  <p class="text-primary m-0 fw-bold">Student Merit List</p>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6 text-nowrap">
                      <div
                        id="dataTable_length"
                        class="dataTables_length"
                        aria-controls="dataTable"
                      >
                        <label class="form-label"
                          >Show&nbsp;<select
                            class="d-inline-block form-select form-select-sm"
                          >
                            <option value="10" selected="">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option></select
                          >&nbsp;</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div
                        class="text-md-end dataTables_filter"
                        id="dataTable_filter"
                      >
                        <label class="form-label"
                          ><input
                            type="search"
                            class="form-control form-control-sm"
                            aria-controls="dataTable"
                            placeholder="Search"
                            id="tsearch"
                            onkeyup="filterTbl()"
                        /></label>
                      </div>
                    </div>
                  </div>
                  <div
                    class="table-responsive table mt-2"
                    id="dataTable1"
                    role="grid"
                    aria-describedby="dataTable_info"
                  >
                    <table class="table my-0" id="tbl">
                      <thead>
                        <tr>
                          <th class="text-center">Id</th>
                          <th class="text-center">Name</th>
                          <th class="text-center">DOB</th>
                          <th class="text-center">Cast</th>
                          <th class="text-center">Percentage</th>
                          <th class="text-center">State</th>
                          <th class="text-center">District</th>
                          <th class="text-center">Class</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="stud:${stulrList}">
                          <td class="text-center" th:text="${stud.id}">
                            S00000001
                          </td>
                          <td class="text-center">
                            <img
                              class="rounded-circle me-2"
                              width="30"
                              height="30"
                              th:src="@{/assets/img/profiles/{fileName}/(fileName = ${stud.id + '.' + stud.extension})}"
                              th:text="${stud.fname}+' '+${stud.mname}+' '+${stud.lname}"
                            />
                          </td>
                          <td class="text-center" th:text="${stud.dob}">
                            2003/11/04
                          </td>
                          <td class="text-center" th:text="${stud.cast}">
                            Open
                          </td>
                          <td class="text-center" th:text="${stud.percentage}">
                            92.20
                          </td>
                          <td class="text-center" th:text="${stud.state}">
                            33
                          </td>
                          <td class="text-center" th:text="${stud.district}">
                            33
                          </td>
                          <td class="text-center" th:text="${stud.stuclass}">
                            2008/11/28
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr></tr>
                      </tfoot>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col-md-6 align-self-center">
                      <p
                        id="dataTable_info"
                        class="dataTables_info"
                        role="status"
                        aria-live="polite"
                      >
                        Showing 1 to 10 of 27
                      </p>
                    </div>
                    <div class="col-md-6">
                      <nav
                        class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers"
                      >
                        <ul class="pagination">
                          <li
                            class="page-item"
                            th:classappend="${(curPage==1)} ? 'disabled'"
                          >
                            <a
                              class="page-link"
                              aria-label="Previous"
                              th:href="@{/admin/meritlist/{curPage}/(curPage=${curPage-1})}"
                              ><span aria-hidden="true">«</span></a
                            >
                          </li>
                          <li
                            class="page-item"
                            th:classappend="${(pageNo==curPage)}"
                            th:each="pageNo :${#numbers.sequence(1, totalPages)}"
                          >
                            <a
                              class="page-link"
                              th:href="@{/admin/meritlist/{curPage}/(curPage=${pageNo})}"
                              th:text="${pageNo}"
                              >1</a
                            >
                          </li>
                          <li
                            class="page-item"
                            th:classappend="${(curPage == totalPages)} ? 'disabled'"
                          >
                            <a
                              class="page-link"
                              aria-label="Next"
                              th:href="@{/admin/meritlist/{curPage}/(curPage=${curPage+1})}"
                              ><span aria-hidden="true">»</span></a
                            >
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="bg-white sticky-footer">
          <div class="container my-auto">
            <div class="text-center my-auto copyright">
              <span>Copyright © Innovative THings 2023</span>
            </div>
          </div>
        </footer>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    <script src="/assestad/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assestad/js/Multi-step-form-script.js"></script>
    <script src="/assestad/js/theme.js"></script>
  </body>
</html>
