<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Forgot password-Innovative THings</title>
    <link rel="stylesheet" href="/assestad/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Advent+Pro&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;display=swap"
    />
    <link rel="stylesheet" href="/assestad/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/assestad/css/Black-Navbar.css" />
    <link rel="stylesheet" href="/assestad/css/FORM.css" />
    <link rel="stylesheet" href="/assestad/css/Multi-step-form.css" />
    <link rel="stylesheet" href="/assestad/css/Pretty-Login-Form-.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/clock.js"></script>
    <script src="/assets/js/sweetalert.js"></script>

<!--    <script>-->
<!--          var server_otp="";-->
<!--          function varifyEmail(){-->
<!--            var email = document.getElementById("email").value;-->
<!--            console.log(email);-->
<!--            var endpoint="/admin/send/otp/";-->
<!--            var data=email;-->
<!--            axios.post(endpoint,data)-->
<!--                .then(function(response){-->
<!--                    server_otp=response;-->
<!--                    console.log(response.data);-->
<!--              })-->
<!--              .catch(function (error) {-->
<!--                // Handle any errors that occurred during the request-->
<!--                console.error(error);-->
<!--              });-->
<!--          }-->
<!--          function validateOtp()-->
<!--          {-->
<!--            var otp=document.getElementById("otp").value;-->
<!--            server_otp.forEach(data => {-->
<!--            console.log('Data:', data);-->
<!--          });-->
<!--            console.log(otp);-->
<!--          }-->
<!--    </script>-->

    <script>
  var server_otp = [];

  function varifyEmail() {
    var email = document.getElementById("email").value;
    console.log(email);
    var endpoint = "/admin/send/otp/";
    var data = email;
    axios.post(endpoint, data)
      .then(function(response) {
        $('#otp').prop('disabled',false);
        server_otp = response.data;
        console.log(server_otp);
      })
      .catch(function(error) {
        // Handle any errors that occurred during the request
        console.error(error);
      });
  }


  function validateOtp() {
    var otp = document.getElementById("otp").value;
    server_otp.forEach(data => {
      console.log('Data:', data);
      console.log(otp==data)
      if(otp==data)
      {
        $('#password').prop('disabled',false);
        $('#rePassword').prop('disabled',false);
      }
    });
    console.log(otp);
  }

  function matchPassword()
  {
      var password = document.getElementById("password").value;
      console.log(password);
      var rePassword = document.getElementById("rePassword").value;
      console.log(rePassword);
      if(password==rePassword)
      {
          $('#brnSubmit').prop('disabled',false);
      }
      else{
          $('#brnSubmit').prop('disabled',true);
      }
  }

</script>
  </head>

  <body id="page-top">
  <script th:inline="javascript">
       var msg=[[${msg}]]
       var emsg=[[${emsg}]]
       if(msg!=null)
       {
               swal("Good job!", msg, "success");
        }
        if(emsg!=null)
        {
               swal("Opps!", emsg, "info");

        }
</script>
    <div id="wrapper">
      <div th:replace="fragmen1.html ::adminfragment1"></div>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <div th:replace="fragment2.html ::adminfragfragment2"></div>
          <div class="container-fluid">
            <div
              class="d-sm-flex justify-content-between align-items-center mb-4"
            >
              <h3 class="text-dark mb-4">
                K.E.S.Yashwant Raghoji Parab Viddhyalay Vasoli
              </h3>
            </div>
            <div class="container-fluid">
              <div class="row login-form">
                <div class="col-md-4 col-lg-6 offset-md-4" style="width: 400px">
                  <h2 class="text-center form-heading">Forgot Password</h2>
                  <form class="custom-form" method="post" action="/admin/update/password/" style="width: 400px">
                    <div class="form-group mb-3">
                      <label class="form-label" style="color: var(--bs-black)"
                        >Enter Register Email Id</label
                      ><input
                        class="form-control"
                        type="email"
                        id="email"
                        name="email"
                        oninput="varifyEmail()"
                        placeholder="Enter Email"
                      />
                    </div>
                    <div class="form-group mb-3">
                      <label class="form-label" style="color: var(--bs-black)"
                        >Enter OTP</label
                      ><input
                        class="form-control"
                        type="number"
                        id="otp"
                        disabled=""
                        oninput="validateOtp()"
                        placeholder="Enter OTP"
                      />
                    </div>
                    <div class="form-group mb-3">
                      <label class="form-label" style="color: var(--bs-black)"
                        >New Password</label
                      ><input
                        class="form-control"
                        type="password"
                        id="password"
                        name="password"
                        placeholder="New Password"
                        disabled=""
                      />
                    </div>
                    <div class="form-group mb-3">
                      <label class="form-label" style="color: var(--bs-black)"
                        >Re-Enter Password</label
                      ><input
                        class="form-control"
                        type="password"
                        id="rePassword"
                        oninput="matchPassword()"
                        placeholder="Re-Enter Password"
                        disabled=""
                      />
                    </div>
                    <button
                      class="btn btn-secondary border rounded-pill d-block submit-button w-100"
                      type="submit"
                      style="background: var(--bs-green)"
                      id="brnSubmit"
                      disabled=""
                    >
                      Update
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="bg-white sticky-footer">
          <div class="container my-auto">
            <div class="text-center my-auto copyright">
              <span>Copyright © Innovative THings 2023</span>
            </div>
          </div>
        </footer>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    <script src="/assestad/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assestad/js/Multi-step-form-script.js"></script>
    <script src="/assestad/js/theme.js"></script>
  </body>
</html>
