<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>STUDENT_LC_MANAGEMNT_SM</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900">
    <link rel="stylesheet" href="/assets/css/baguetteBox.min.css">
    <link rel="stylesheet" href="/assets/css/Black-Navbar.css">
    <link rel="stylesheet" href="/assets/css/Card-Store.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-blue-Gradient-Blue-gradient-login-form.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-blue-Gradient.css">
    <link rel="stylesheet" href="/assets/css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css">
    <link rel="stylesheet" href="/assets/css/Ludens---Create-Edit-Form.css">
    <link rel="stylesheet" href="/assets/css/Navbar-With-Button-icons.css">
    <link rel="stylesheet" href="/assets/css/Profile-Edit-Form-styles.css">
    <link rel="stylesheet" href="/assets/css/Profile-Edit-Form.css">
    <script src="/assets/js/sweetalert.js"></script>
    <script src="/assets/js/Registration.js"></script>

</head>
<body>
<script th:inline="javascript">
       var msg=[[${msg}]]
       if(msg!=null)
       {
               swal("Opps!", msg, "info");
        }
</script>
<div th:replace="userFragment.html ::userNavBarFragment"></div>
<div class="container profile profile-view">
        <div class="row">
            <div class="col-md-12 alert-col relative">
                <div class="alert alert-info alert-dismissible absolue center" role="alert"><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button><span>Profile save with success</span></div>
            </div>
        </div>
        <form method="post" action="/student/livingrequest/savedata/" th:object="${LivingRequest}" enctype="multipart/form-data">
            <div class="row profile-row">
                <div class="col-md-8">
                    <h1 style="font-family: Merriweather, serif;font-weight: bold;">Request for living certificate</h1>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group mb-3"><label class="form-label">Firstname </label><input class="form-control" type="text" id="fname" name="firstname" placeholder="Enter your first name"></div>
                            <div class="form-group mb-3"><label class="form-label">Student Id</label><input class="form-control" type="text" name="studentId" placeholder="Rollno/Enrollment no/Stuent id"></div>
                            <div class="form-group mb-3" style="height: 16px;"><label class="form-label">Upload your identy card photo</label></div><input class="form-control form-control" type="file" id="file" required="" name="file" accept="image/png">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group mb-3"><label class="form-label">Lastname </label><input class="form-control" type="text" id="lname" name="lastname" placeholder="Enter your last name"></div>
                            <div class="form-group mb-3"><label class="form-label">Select your calss</label><select class="form-select" id="stuclass" name="stuclass">
                                        <option value="0" selected="" disabled=""> Select your class</option>
                                        <option value="Eight">Eight</option>
                                        <option value="Ninth">Ninth</option>
                                        <option value="Tenth">Tenth</option>
                                </select></div>
                            <div class="form-group mb-3"><label class="form-label">Select Reason</label><select class="form-select" id="reason" name="reason">
                                        <option value="12" selected="" disabled="">Select your reason</option>
                                        <option value="Personal circumstances or obligations">Personal circumstances or obligations</option>
                                        <option value="Starting a business or entrepreneurial ventures">Starting a business or entrepreneurial ventures</option>
                                        <option value="Dissatisfaction with the education system">Dissatisfaction with the education system</option>
                                        <option value="Going for higher qualification">Going for higher qualification</option>
                                </select></div>
                        </div>
                    </div>
                    <div class="form-group mb-3"><label class="form-label">Email </label><input class="form-control" id="email" type="email" autocomplete="off" required="" name="email" placeholder="Enter your email id"></div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 content-right"><button class="btn btn-success form-btn" type="submit" id="btnSubmit">Submit</button><button class="btn btn-danger form-btn" type="reset">CANCEL </button></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/baguetteBox.min.js"></script>
    <script src="/assets/js/creative.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20-Ludens---1-Index-Table-with-Search--Sort-Filters.js"></script>
    <script src="/assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20-Ludens---Material-UI-Actions.js"></script>
    <script src="/assets/js/Profile-Edit-Form-profile.js"></script>
</body>

</html>