<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Table - Brand</title>
    <link rel="stylesheet" href="/assestad/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap"
    />
    <link rel="stylesheet" href="/assestad/fonts/fontawesome-all.min.css" />
    <script src="/assets/js/clock.js"></script>
    <script src="/assets/js/sweetalert.js/"></script>
    <script src="/assets/js/SearchRecord.js"></script>
  </head>
  <script th:inline="javascript">
    var msg=[[${msg}]]
    if(msg!=null)
    {
        swal("Good job",msg,"success");
    }
  </script>
  <body id="page-top">
    <div id="wrapper">
      <div th:replace="fragmen1.html ::adminfragment1"></div>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <div th:replace="fragment2.html ::adminfragfragment2"></div>
          <div class="container-fluid">
            <h3 class="text-dark mb-4">
              K.E.S.Yashwant Raghoji Parab Viddhyalay Vasoli
            </h3>
            <div class="card shadow">
              <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">
                  Leaving certificate request info
                </p>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 text-nowrap">
                    <div
                      id="dataTable_length"
                      class="dataTables_length"
                      aria-controls="dataTable"
                    >
                      <label class="form-label"
                        >Show&nbsp;<select
                          class="d-inline-block form-select form-select-sm"
                        >
                          <option value="10" selected="">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option></select
                        >&nbsp;</label
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="text-md-end dataTables_filter"
                      id="dataTable_filter"
                    >
                      <label class="form-label"
                        ><input
                          type="search"
                          class="form-control form-control-sm"
                          aria-controls="dataTable"
                          placeholder="Search"
                          id="tsearch"
                          onkeyup="filterTbl()"
                      /></label>
                    </div>
                  </div>
                </div>
                <div
                  class="table-responsive table mt-2"
                  id="dataTable1"
                  role="grid"
                  aria-describedby="dataTable_info"
                >
                  <table class="table my-0" id="tbl">
                    <thead>
                      <tr>
                        <th class="text-center">Student Id</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Class</th>
                        <!--                                    <th class="text-center">Mobile number</th>-->
                        <th class="text-center">Email id</th>
                        <th class="text-center">ID Card</th>
                        <th class="text-center">Status</th>
                        <th class="text-center filter-false sorter-false">
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center" th:each="stu :${stulrList}">
                        <td class="text-center" th:text="${stu.studentId}">
                          101
                        </td>
                        <td class="text-center" th:text="${stu.firstname}">
                          Aniket Laxman Zimane
                        </td>
                        <td class="text-center" th:text="${stu.stuclass}">
                          TYCO
                        </td>
                        <!--                                    <td th>9422195873</td>-->
                        <td class="text-center" th:text="${stu.email}">
                          aniketzimane@gmail.com
                        </td>
                        <td class="text-center">
                          <img
                            th:src="@{/assets/img/profiles/{fileName}/(fileName = ${stu.id + '.' + stu.extension})}"
                            width="100px"
                            height="100px"
                          />
                        </td>
                        <!--                                        <form method="post" action="/admin/leavingrequest/update/">-->
                        <td class="text-center">
                          <select
                            class="border rounded-pill"
                            name="status"
                            style="
                              width: 100px;
                              height: 41px;
                              padding-left: 10px;
                            "
                          >
                            <option
                              th:selected="${stu.status == '0'}"
                              value="0"
                            >
                              Pending
                            </option>
                            <option
                              th:selected="${stu.status == '1'}"
                              value="1"
                            >
                              Approve
                            </option>
                          </select>
                        </td>
                        <td
                          class="text-center align-middle"
                          style="max-height: 60px; height: 60px"
                        >
                          <a
                            class="btn btnMaterial btn-flat primary semicircle"
                            role="button"
                            th:href="@{/admin/bonafidecertificate/{id}/(id=${stu.id})}"
                            ><i class="far fa-eye"></i
                          ></a>
                          <a
                            class="btn btnMaterial btn-flat success semicircle"
                            role="button"
                            th:href="@{/admin/bonafiderequest/update/{id}/(id = ${stu.id})}"
                            ><i
                              class="fas fa-save"
                              style="font-size: 15px; color: rgb(65, 6, 234)"
                            ></i
                          ></a>
                          <!--                                                <button class="btn btnMaterial btn-flat success semicircle" type="submit"><i class="fas fa-save" style="font-size: 15px;color: rgb(65,6,234);"></i></button>-->
                          <!--                                        </form>-->
                          <a
                            class="btn btnMaterial btn-flat accent btnNoBorders checkboxHover"
                            role="button"
                            style="margin-left: 5px"
                            th:href="@{/admin/delete/bonafiderequest/{id}/(id = ${stu.id})}"
                          >
                            <i
                              class="fas fa-trash btnNoBorders"
                              style="color: #dc3545"
                            ></i
                          ></a>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr></tr>
                    </tfoot>
                  </table>
                </div>
                <div class="row">
                  <div class="col-md-6 align-self-center">
                    <p
                      id="dataTable_info"
                      class="dataTables_info"
                      role="status"
                      aria-live="polite"
                      th:text="'Showing '+${curPage}+' to '+${totalPages}+' of '+${recordSize}"
                    >
                      Showing 1 to 10 of 27
                    </p>
                  </div>
                  <div class="col-md-6">
                    <nav
                      class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers"
                    >
                      <ul class="pagination">
                        <li
                          class="page-item"
                          th:calssappend="${curPage==1} ? 'disabled'"
                        >
                          <a
                            class="page-link"
                            aria-label="Previous"
                            th:href="@{/admin/bonafideRequest/record/{curPage}/(curPage=${curPage-1})}"
                            ><span aria-hidden="true">«</span></a
                          >
                        </li>
                        <li
                          class="page-item"
                          th:calssappend="${pageNo==curPage}"
                          th:each="pageNo :${#numbers.sequence(1,totalPages)}"
                        >
                          <a
                            class="page-link"
                            th:href="@{/admin/bonafideRequest/record/{curPage}/(curPage=${pageNo})}"
                            th:text="${pageNo}"
                            >1</a
                          >
                        </li>
                        <li
                          class="page-item"
                          th:classappend="${curPage==totalPages} ? 'disabled'"
                        >
                          <a
                            class="page-link"
                            aria-label="Next"
                            th:href="@{/admin/bonafideRequest/record/{curPage}/(curPage=${curPage+1})}"
                            ><span aria-hidden="true">»</span></a
                          >
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="bg-white sticky-footer">
          <div class="container my-auto">
            <div class="text-center my-auto copyright">
              <span>Copyright © Innovative THings 2023</span>
            </div>
          </div>
        </footer>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    <script src="/assestad/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assestad/js/theme.js"></script>
  </body>
</html>
